.sortPosts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  margin: 2rem;
  width: 640px;
  border: 1px solid var(--gray);
  border-radius: 3px;
}

.order {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin: 1rem;
  padding: .8rem 1.6rem;
  color: var(--dark-gray);
  cursor: pointer;
}

.order.active {
  color: var(--blue);
  background-color: var(--light-gray);
  border-radius: 2rem;
}

.order i {
  margin-right: 0.5rem;
}

.order:hover {
  background-color: var(--light-gray);
  border-radius: 2rem;
}