.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo {
  font-size: 2rem;
  margin: 1rem 2rem;
}

.logo i {
  color: #ff4500;
}

.search {
  width: 30%;display: flex;
  align-items: center;
  position: relative;
}

.search i {
  position: absolute;
  left: 1.5rem;
  font-size: 2rem;
  color: #757575;
}

.search input {
  width: 100%;
  padding: 1rem 1rem 1rem 4rem;
  background-color: #F6F7F8;
  border: .1rem solid #ebf1f8;
  border-radius: 3rem;
  font-size: 1.6rem;
}

.search input:hover {
  border-color: #1484d6;
}

.signupBtn {
  color: #1484d6;
  background: #fff;
  border: .1rem solid #1484d6;
  border-radius: 3rem;
  padding: .8rem 3rem;
  font-weight: 600;
  font-size: 1.4rem;
  margin-right: 2rem;
  cursor: pointer;
}

.loginBtn {
  color: #fff;
  background: #1484d6;
  border: .1rem solid #1484d6;
  border-radius: 3rem;
  padding: .8rem 3rem;
  font-weight: 600;
  font-size: 1.4rem;
  margin-right: 2rem;
  cursor: pointer;
}

@media(max-width: 700px) {
  .logo span {
    display: none;
  }
}